.row-layout {
  display: flex;
}
.child-view-container {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  height: 100%;
}
.group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: stretch;
  align-items: stretch;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_1 {
  min-width: 400px;
  min-height: 300px;
  > * { height: 100%; width: 100%; }
}
.grid {
  --ig-size: var(--ig-size-medium);
  min-width: 600px;
  min-height: 300px;
}
